/* Scrollbar.css */

/* WebKit scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, black, white);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, black);
  }